.form-group.required .control-label:after {
    color:red;
    font-family: 'FontAwesome';
    font-weight: normal;
    font-size: 10px;
    content: "\f069";
    position: relative;
    bottom: 9px;
    left: 1px;
}
.rgt { float: right !important; }
.list-group {
    padding-left: 15px !important;
}
ul{ list-style: none; margin: 0px;
    padding: 0px;}
.lead {
    margin:auto;
    left:0;
    right:0;
    padding-top:10%;
}
.nav-tabs { border-bottom: 2px solid #DDD; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
.nav-tabs > li > a { border: none; color: #666; }
.nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #3097D1 !important; background: transparent; }
.nav-tabs > li > a::after { content: ""; background: #3097D1; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 15px 0; }
.tab-content{padding:20px}
.breadcrumb {
    padding: 8px 4px;
    margin-bottom: 3px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}
.dataTables_wrapper. {
    padding: 0px;
}

/*.container {*/
    /*width: 100% !important;*/
/*}*/

fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    coloar:#636b6f;
    font-size: 14px !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
}

.badge-success{
    border-radius: 4px !important;
    background-color: #1ab921;
    word-wrap: break-word;
    white-space: normal;
}

.badge-primary{
    border-radius: 4px !important;
    background-color: #0f74a8;
    word-wrap: break-word;
    white-space: normal;
}


.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;

}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

#myModal .modal-header {
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #0480be;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
}

#myModal .modal-footer {
    padding: 9px 15px;
    border-bottom: 0px solid #eee;
    background-color: #0480be;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    color: #fff;
}

#myModal .modal-dialog{
    width: 1200px !important;
    min-height: 820px !important;
}

#myModal .modal-body{
    height: 600px !important;
    overflow: scroll;
}

/*---------------------- css by Dushyant-----------------*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
body{background: #fff; font-family: 'Open Sans', sans-serif;}
.navbar-default { background-color: #f5f5f5; border-color: #e4e5e6; position: fixed; left: 0; top: 0; right: 0; padding: 0 15px 0 0px;}
.dashOuter {position: relative; top: 50px;}
.dashLeft {padding: 0; width: 270px; position: fixed; float: left; left: 0; top: 50px; bottom: 0; background: #f5f5f5; border-right:#e5e5e5 solid 2px; }
.dashLeft a.list-group-item {border: 0; background: none; border-bottom: #dadada solid 1px !important; margin-bottom: 0px;}
.dashLeft a.list-group-item small { display: none; font-size: 18px; line-height: 26px; position: absolute; top: 50%; margin-top: -12px; right: 5px;}
.dashLeft a.list-group-item:hover, .dashLeft a.list-group-item.active { color: #3576bc; background: #fff;}
.dashLeft a.list-group-item:hover small, .dashLeft a.list-group-item.active small { display: inline-block;}
.leftmenuHd { display: block; background: #3576bc;}
.menuHd {font-size: 14px; color: #fff; text-transform: uppercase; line-height: 17px; padding: 17px 10px;}
.menuHd a {float: right; color: #fff;}
.menuHd a i {font-size: 24px; font-weight: 300; line-height: 20px;}
.DashRight {width: calc(100% - 270px); float: right; padding: 20px;}
.navbar-default .navbar-brand { color: #1b2d5b;}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{color: #1b2d5b;}
.navbar-default .navbar-nav > li > a{color: #1b2d5b;}
.list-group-item:first-child {border-top-right-radius: 0px; border-top-left-radius: 0px;}
.list-group-item:last-child {margin-bottom: 0; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px;}
.list-group-item{font-size: 15px; background: #fbfbfb; border: 1px solid #ccc;}
.list-group-item i{width: 30px;}
a.list-group-item, button.list-group-item {color: #333;}
.panel {background-color: #fff;border-radius: 0px;}
.panel-default > .panel-heading {color: #fff; background-color: #3576bc; border-color: #3576bc; border-radius: 0; font-size: 18px; line-height: 25px;}
.panel-default {border-color: #ccc;}
.panel-body {font-size: 16px; color: #333;}
.form-group label {font-weight: 600; font-size: 14px;}
.form-group.required .control-label:after{ font-size: 7px;}
input.form-control {height: 35px; border: #ccc solid 1px; border-radius: 0px; box-shadow: none; padding: 0px 5px;}
select.form-control {height: 35px; border: #ccc solid 1px; border-radius: 0px; box-shadow: none; padding: 0px;}
.fileType {position: absolute; right: 15px; top: 0px; width: 100px; bottom: 0; color: #fff; overflow: hidden; opacity: 0; cursor: pointer;}
button.browseBtn {background: #0f6fc6; position: absolute; right: 15px; top: 0; height: 35px; border: 0; width: 100px; font-size: 15px; color: #fff; line-height: 33px;}
.btn-danger {background: #ca0202; border-color: #ca0202;}
.btn{ border-radius: 0px; font-size: 15px;}
.breadcrumb { padding: 8px 10px; margin-bottom: 10px; list-style: none; background-color: #f5f5f5; border-radius: 0; border: #ccc solid 1px;}
a{color: #117bb8;}
.alert.alert-success { border-radius: 0px;}
span.help-block strong { font-weight: 400; font-size: 14px;}
.downloadIcon { font-size: 24px; margin-top: -1px; display: inline-block; color: #000;}
.alert-success { border-color: #3c763d; padding: 10px 15px;}
.table > thead > tr > th {vertical-align: top; background: #949393; color: #fff; font-size: 15px; font-weight: 400; line-height: 20px;}
.table > tbody > tr > td {font-size: 14px; color: #666;}
.btn-primary {color: #fff; background-color: #0f6fc6; border-color: #0f6fc6;}
.FrmOuterBx {overflow: auto; margin-bottom: 20px; padding-bottom: 10px;}
.FrmOuterBx table {margin-bottom: 0px;}
fieldset.scheduler-border {background: #f9f9f9;}
legend.scheduler-border {border: #898989 solid 1px; padding: 5px 15px; background: #f9f9f9;}
.frmBtnBx a, .frmBtnBx button{margin-right: 5px; padding: 4px 15px;}
.btn-primary:hover {background-color: #1c69af; border-color: #1c69af;}
.exitingBtn {padding: 7px 0; margin-top: 5px; margin-left: 7px; line-height: 20px; font-size: 15px; font-weight: 600; border-radius: 0; width: 217px;}
.leasepayLbl{line-height: 35px;}
.addpayTbleOuter table { border-top: #ccc solid 1px; border-left: #ccc solid 1px;}
.addpayTbleOuter table th {border-right: #ccc solid 1px; padding: 10px 30px 10px 10px !important; border-bottom: #ccc solid 1px !important;}
.addpayTbleOuter table td { border-right: #ccc solid 1px; padding: 10px 10px 10px 10px !important; border-bottom: #ccc solid 1px !important;}
.addpayTbleOuter table .edit_asset_payment {background: none !important; border: 0 !important; color: #0f6fc6 !important;}
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
   background-color: #0f6fc6; border-color: #0f6fc6;}
.panel-info > .panel-heading{ color: #000; line-height: 34px;}

/*-------------*/
.dashLeft.leftNavOpen  { width: 60px; transition: all 0.3s ease-in-out;}
.dashLeft.leftNavOpen .menuHd span{display: none;}
.dashLeft.leftNavOpen .menuHd a {float: none; display: inline-block; padding-left: 8px;}
.dashLeft.leftNavOpen .leftNav a span{display: none;}
.DashRight.dashRightBx { width: calc(100% - 60px); transition: all 0.3s ease-in-out;}
/*------------------*/
.loginOuter {padding-top: 100px;}
.txtareaInp {height: 130px !important; border: #ccc solid 1px; border-radius: 0px; box-shadow: none; resize: none;}
.modal-content.annexure_modal_body .modal-header .close { margin-top: -20px;}
.sub_table td table{ background-color: #eeeeee !important;}
.frmOuterBx table { border-left: #ccc solid 1px; border-top: #ccc solid 1px;}
.frmOuterBx table tr th {padding: 12px 10px; border-right: #ccc solid 1px; border-bottom: #ccc solid 1px !important;}
.frmOuterBx table tr td {padding: 5px 10px; border-right: #ccc solid 1px; border-bottom: #ccc solid 1px; border-top: 0 !important; vertical-align: middle;}
.frmOuterBx table tr td .edit_lease_detail{ margin-right:10px;}
.settingTble table{border-left: #ccc solid 1px !important; border-top: #ccc solid 1px !important; border-bottom: #ccc solid 1px;}
.settingTble table th {padding: 12px 10px !important; border-right: #ccc solid 1px !important; border-bottom: #ccc solid 1px !important;}
.settingTble table tr td {padding: 5px 10px; border-right: #ccc solid 1px; vertical-align: middle;}
ul.nav.nav-tabs {background: #eee;}
ul.nav.nav-tabs > li > a{color: #333; cursor: pointer;}
ul.nav.nav-tabs > li.active > a, ul.nav.nav-tabs > li > a:hover {border: none; background: #2e79bd; border-radius: 0; color: #fff !important;}
.reportTble{display: block !important;}
.settNavOuter {overflow: auto; padding-bottom: 8px;}


.loginOuter {
    padding-top: 100px;
}
.txtareaInp {
    height: 130px !important;
    border: #ccc solid 1px;
    border-radius: 0px;
    box-shadow: none;
    resize: none;
}

.modal-content.annexure_modal_body .modal-header .close {
    margin-top: -20px;
}
.modal-content.escalation_chart_modal_body .modal-header .close {
    margin-top: -20px;
}

.sub_table td table{
    background-color: #eeeeee !important;
}

.escalation_inconsistent_table td {
    padding: 5px;
}

.escalation_inconsistent_table {
    background-color: #eeeeee !important;
    margin-top: 10px;
}

td.tableInner table {
    background: #f5f5f5 !important;
}
td.tableInner table > tbody > tr > th {
    background: #888;
    color: #fff !important;
    font-weight: 400 !important;
}

/* .itemTab{list-style: none; overflow: hidden; overflow-x: auto; font-size: 15px; margin-bottom: 15px; padding: 0;}
.itemTab ul{ margin: 0px; padding:0px; width: 3505px;}
.itemTab li {float: left;}
.itemTab li a{color: white; text-decoration: none; padding: 10px 0 10px 55px; background: rgb(14, 45, 90); position: relative; display: block; float: left;}
.itemTab li a:after {content:""; display: block; width: 0; height: 0; border-top: 50px solid transparent; border-bottom: 50px solid transparent; border-left: 30px solid rgb(14, 45, 90); position: absolute; top: 50%; margin-top: -50px; left: 100%;
  z-index: 2;}   
.itemTab li a:before{content:""; display: block; width: 0; height: 0; border-top: 50px solid transparent;  border-bottom: 50px solid transparent; border-left: 30px solid white;  position: absolute; top: 50%; margin-top: -50px; margin-left: 1px;
  left: 100%; z-index: 1;}   
.itemTab li:first-child a {padding-left: 10px; border-radius:3px 0 0 3px;}
.itemTab li:last-child a { padding-right:15px; border-radius:0px 3px 3px 0px;}
.itemTab li:last-child a:after { border: 0; }
.itemTab li a:hover, .itemTab li a.active{ background: #289415; }
.itemTab li a:hover:after, .itemTab li a.active:after { border-left-color:#289415 !important; }
.itemTab li:last-child a:hover, .itemTab li:last-child a.active{ background:#289415 !important;} */

.itemTab{padding-bottom: 10px; padding-top: 5px;}
.itemTab ul{ margin: 0px; padding:0px;}
.itemTab ul li{display: inline-block; vertical-align: top; padding-right: 10px;}
.itemTab ul li a{ position: relative; display: inline-block; position: relative; background: #f5f5f5; border: #e5e5e5 solid 1px; border-radius: 3px; width: 70px; height: 60px;}
.itemTab ul li a img {position: absolute; left: 0; top: 0; bottom: 0; right: 0; margin: auto;}
.itemTab ul li a:hover, .itemTab ul li a.active{ background: #3576bc; border: #1c69af solid 1px;}
.itemTab ul li a .img{ display:block;}
.itemTab ul li a .over{ display:none;}
.itemTab ul li a:hover .img, .itemTab ul li a.active .img{ display:none;}
.itemTab ul li a:hover .over, .itemTab ul li a.active .over{ display:block;}
.itemTab ul li a span {position: absolute; left: 50%; top: -49px; background: #e5e5e5; padding: 8px 0px; color: #000; border-radius: 3px;   width: 200px;
    text-align: center; margin-left: -100px; font-weight: 500; display: none;}
.itemTab ul li a span:after{ border-left: transparent solid 10px; border-right: transparent solid 10px; border-top:#e5e5e5 solid 10px; content: ''; position: absolute; left: 50%; margin-left: -10px; bottom:-10px;}
.itemTab ul li a:hover span{ display: block;}


.navbar-brand.logoBx {padding: 6px 10px;}
ul.nav.navbar-nav.navbar-right li.dropdown{border-left: #e4e5e6 solid 1px;}



.tableInnData th {
    font-size: 10px;
    font-weight: 600;
    color: #000;
    background: #e5e5e5;
    text-align: center;
    padding: 5px 0;
}
.tableInnData td {
    font-size: 11px;
    text-align: center;
    padding: 5px 0;
    color: #333;
}
button.btn.btn-success.close {
    background: #2ab27b !important;
    border: #2ab27b solid 1px;
    padding: 6px 12px;
    color: #fff !important;
    opacity: 1;
    font-size: 15px !important;
    font-weight: 400 !important;
    line-height: 22px;
}
.errorTxt{text-align: center; font-size: 16px; padding:100px 0 20px 10px; max-width: 600px; margin: 0 auto;}
.errorTxt i{ padding:30px 0; text-align:center; display:block;}
.errorTxt i img{ max-width:100%;}
.errorTxt strong{ display:block; font-size:20px; text-transform:uppercase; color:#000;}
.errorTxt span { display: block; padding: 20px 0 30px 0; font-size: 15px; color: #666; line-height: 25px;}
.errorTxt a {display: inline-block; color: #ffffff; background: #0f6fc6; text-decoration: none; text-transform: uppercase; font-size: 18px; padding: 8px 30px; border-radius: 30px; line-height: 25px;}
.errorTxt a:hover{ background:#075091;}
.sub_table_heading {
    background: #cfe5f3;
    color: #000 !important;
    font-weight: 500;
    padding: 6px;
}
.affix {
    position: fixed;
    top: 50px;
    left: 320px;
    right: 36px;
    /*z-index: 9999;*/
    transition:all 0.3s ease-in-out;
}

.DashRight.dashRightBx .affix{
    left: 100px;
}
.menuHd {
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    line-height: 17px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99;
    border-top: #ccc solid 1px;
    width: 268px;
    padding: 0px;


}
.menuHd a {
    color: #000;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    background: #fff;
    padding: 10px 20px;
    float: none;
    display: block !important;
}
.menuHd a:hover{
    background: #e5e5e5;
}
.menuHd a > i{
    display: none;
}
.dashLeft.leftNavOpen .menuHd{
    width: 58px;
}
.dashLeft.leftNavOpen .menuHd a span{
    display: none;
}

.dashLeft.leftNavOpen .menuHd a > i{
    display: block;
    text-align: center;
}
.totlNumbOuter {
    padding-bottom: 20px;
}
.totlNumbInnBx {
    width:31.33%;
    margin:0 1%;
    float: left;
    border: #e5e5e5 solid 1px;
}
.totlNumbInnBx h3{text-align: center;
    border-bottom: #e5e5e5 solid 1px;
    padding: 10px 0;
    font-size: 16px;
    color: #000;
    margin: 0;
    line-height: 25px;
    background: #f5f5f5;
}
.totlNumbInnBx span{ display: block; padding: 10px; font-size: 14px; line-height: 20px; color: #333;}

.fontsty {
  margin-right: -15px;
}

.fontsty h2{
  color: #6E6E6E;
  font-size: 35px;
  margin-top: 15px;
  text-align: right;
  margin-right: 30px;
}

.fontsty h4{
  color: #6E6E6E;
  font-size: 25px;
  margin-top: 20px;
  text-align: right;
  margin-right: 30px;
}
select[readonly]{
    background: #eee;
    cursor:no-drop;
}

select[readonly] option{
    display:none;
}


.subsmentBx {
    background: #e7e3e3;
    margin-bottom: 0px;
    border: #e5e5e5 solid 1px;
    padding: 10px;
    font-weight: 600;
}

td.details-control {
    background: url('../images/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../images/details_close.png') no-repeat center center;
}

li.disabled{
    opacity: 0.5;
    pointer-events: none;
}

li.disabled a {
    cursor: not-allowed !important;
}
.initial_valuation{
    text-align: center !important;

}
.subsequent_valuation{
    text-align: center !important;
    /*background-color: #cbe199e6 !important;*/
}
table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
    border-bottom-width: 1px !important;
}
.reporting{
    background-color: #55ce174d !important;
}

.foriegn {
    background-color: #cbe199e6 !important;
}


.register{
    /*background: -webkit-linear-gradient(left, #3931af, #00c6ff);*/
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3931af+0,00c6ff+100 */
background: rgb(57,49,175); /* Old browsers */
background: -moz-linear-gradient(60deg,  rgba(57,49,175,1) 0%, rgba(0,198,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(60deg,  rgba(57,49,175,1) 0%,rgba(0,198,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(60deg,  rgba(57,49,175,1) 0%,rgba(0,198,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3931af', endColorstr='#00c6ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    margin-top: 3%;
    padding: 3%;
}
.register-left{
    text-align: center;
    color: #fff;
    margin-top: 4%;
}
.register-left input{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}
.register-right{
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}
.register-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.register-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}

.btnRegister {
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #0062cc;
    color: #fff;
    font-weight: 600;
    width: 44%;
    cursor: pointer;
}
.register .nav-tabs{
    margin-top: 3%;
    border: none;
    background: #0062cc;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}
.register .nav-tabs .nav-link{
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
    border: none;
}
.register .nav-tabs .nav-link.active{
    width: 100px;
    color: #0062cc;
    border: 2px solid #0062cc;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.register-heading{
    text-align: center;
    color: #495057;
}
.login_register {
    border: none;
    border-radius: 1.5rem;
    padding: 2% !important;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41 !important;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
    padding: 7px 33px !important;
}
.declarationParent span{
    padding-left: 30px;
    position: relative;
}
.declarationCheck{
    position: absolute;
    left: 0px;
    top: 0px;
}
.declarationParent{
     box-sizing: border-box;
}
.declarationLabel{
    display: inline !important;
}
.row.register-form {
    padding: 0 20px 0 40px;
}
.termsConditionParent {
    padding: 0 0 0 0;
}
.setting{
    padding: 20px;
}

.form-group.inconsistently_applied {
    width: 100% !important;
    margin: 0 !important;
    padding: 10px;
}


.upgradeSubscriptionPlans .panel
{
    text-align: center;
}
.upgradeSubscriptionPlans .panel:hover { box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px 5px rgba(130, 130, 130, 0.35); }
.upgradeSubscriptionPlans .panel-body
{
    padding: 0px;
    text-align: center;
}

.upgradeSubscriptionPlans .the-price
{
    background-color: rgba(220,220,220,.17);
    box-shadow: 0 1px 0 #dcdcdc, inset 0 1px 0 #fff;
    padding: 20px;
    margin: 0;
}

.upgradeSubscriptionPlans .the-price h1
{
    line-height: 1em;
    padding: 0;
    margin: 0;
}

.upgradeSubscriptionPlans .subscript
{
    font-size: 16px;
}

/* CSS-only ribbon styles    */
.upgradeSubscriptionPlans .cnrflash
{
    /*Position correctly within container*/
    position: absolute;
    top: -9px;
    right: 4px;
    z-index: 1; /*Set overflow to hidden, to mask inner square*/
    overflow: hidden; /*Set size and add subtle rounding  		to soften edges*/
    width: 100px;
    height: 100px;
    border-radius: 3px 5px 3px 0;
}
.upgradeSubscriptionPlans .cnrflash-inner
{
    /*Set position, make larger then 			container and rotate 45 degrees*/
    position: absolute;
    bottom: 0;
    right: 0;
    width: 145px;
    height: 145px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -o-transform: rotate(45deg); /* Opera */
    -moz-transform: rotate(45deg); /* Firefox */
    -webkit-transform: rotate(45deg); /* Safari and Chrome */
    -webkit-transform-origin: 100% 100%; /*Purely decorative effects to add texture and stuff*/ /* Safari and Chrome */
    -ms-transform-origin: 100% 100%;  /* IE 9 */
    -o-transform-origin: 100% 100%; /* Opera */
    -moz-transform-origin: 100% 100%; /* Firefox */
    background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.1) 50%), linear-gradient(0deg, transparent 0%, rgba(1,1,1,.2) 50%);
    background-size: 4px,auto, auto,auto;
    background-color: #aa0101;
    box-shadow: 0 3px 3px 0 rgba(1,1,1,.5), 0 1px 0 0 rgba(1,1,1,.5), inset 0 -1px 8px 0 rgba(255,255,255,.3), inset 0 -1px 0 0 rgba(255,255,255,.2);
}
.upgradeSubscriptionPlans .cnrflash-inner:before,.upgradeSubscriptionPlans .cnrflash-inner:after
{
    /*Use the border triangle trick to make  				it look like the ribbon wraps round it's 				container*/
    content: " ";
    display: block;
    position: absolute;
    bottom: -16px;
    width: 0;
    height: 0;
    border: 8px solid #800000;
}
.upgradeSubscriptionPlans .cnrflash-inner:before
{
    left: 1px;
    border-bottom-color: transparent;
    border-right-color: transparent;
}
.upgradeSubscriptionPlans .cnrflash-inner:after
{
    right: 0;
    border-bottom-color: transparent;
    border-left-color: transparent;
}
.upgradeSubscriptionPlans .cnrflash-label
{
    /*Make the label look nice*/
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    padding-bottom: 5px;
    color: #fff;
    text-shadow: 0 1px 1px rgba(1,1,1,.8);
    font-size: 0.95em;
    font-weight: bold;
    text-align: center;
}
.upgradeSubscriptionPlans .col-md-5th-1.col-sm-4.col-md-offset-0.col-sm-offset-2 {width: 20%; padding: 2px;}
.upgradeSubscriptionPlans .btn.btn-success {border-radius: 3px; font-size: 12px;font-weight: 400;}
.escalationFrmOuter {border:0 !important;}
.escalationFrmOuter > td {background: #f5f5f5; padding:0px; border-bottom:#dadcdd solid 1px !important; border-right:0 !important;}
.escalationFrmOuter td:first-child{border-right:0 !important;}
.escalationFrmOuter table{ border:0 !important; background:none !important; margin:0px !important }
.escalationFrmOuter table td{ border:0 !important;}
.escalationFrmOuter .theads_escalations{ background:none !important;}
.escalationFrmOuter .theads_escalations th {background: none !important; font-size: 14px; font-weight: 400;
    color: #000; vertical-align: top;}
.dashLeft.leftNavOpen .ifrsBx{ display:none;}

#buildYourPlan_Modal .modal-dialog .modal-body{padding: 0;}
#buildYourPlan_Modal .left{color: #fff;padding: 30px;background-image: linear-gradient(to left, rgb(17, 123, 184) , rgb(27, 45, 91));min-height: 465px;}
#buildYourPlan_Modal .left ul{list-style: none;padding: 0;margin-top: 20px;}
#buildYourPlan_Modal .left ul li{position: relative;font-size: 13px;padding-left: 22px;padding-bottom: 14px;}
#buildYourPlan_Modal .left ul li i{position: absolute;left: 1px;top: 5px;color: #0691e4;}
#buildYourPlan_Modal .left h2{font-size: 20px;color: #fff;}
#buildYourPlan_Modal .right{padding: 30px 40px;min-height: 426px;position: relative;}
#buildYourPlan_Modal .right h1{font-size: 20px;color: #000;}
#buildYourPlan_Modal .right h4{font-size: 14px;color: #848484;text-align: center;font-weight: 400;}
#buildYourPlan_Modal .right .close{font-size: 32px;background: #15598f;color: #fff;opacity: 1;width: 35px;font-weight: 100;border-radius: 2px;margin: 0;position: relative;top: -30px;right: -25px;outline: none;}
#buildYourPlan_Modal .right form{margin-top: 30px;}
#buildYourPlan_Modal .right form label{font-weight: 400;}
#buildYourPlan_Modal .right .form-control{border-color: #e6e6e6;}
#buildYourPlan_Modal .right .submit-btn{font-size: 15px;color: #fff;padding: 10px 35px;border-radius: 20px;background-image: linear-gradient(to left, rgb(17, 123, 184) , rgb(27, 45, 91));text-transform: uppercase;transition: all .3s ease 0s;box-shadow: 0 0 10px #136ca6;margin-top: 25px;}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
#pricing_Modal .modal-dialog .modal-content{background-image: linear-gradient(to left, rgb(92, 162, 255) , rgb(0, 147, 189));color: #fff;}
#pricing_Modal .table-bordered>tbody>tr>td{border: 1px solid #3f87de;color: #fff;}
#pricing_Modal h2{color: #fff;}

@media screen and (min-width: 768px){
    #buildYourPlan_Modal .modal-dialog{width: 935px;}
    #buildYourPlan_Modal .left{width: 34%;}
    #buildYourPlan_Modal .right{width: 66%;}
    #pricing_Modal .modal-dialog{width: 680px;}
}

@media (max-width: 768px){
    #buildYourPlan_Modal .left{display: none;}
}

.pricing_Modal{}
.pricing_Modal .modal-content{background: #fff;}
.pricing_Modal h1{color: #000;font-size: 22px;}
.pricing_Modal .btn.proceed{display: inline-block;font-size: 15px;color: #fff;padding: 10px 35px;border-radius: 65px;text-transform: uppercase;transition: all .3s ease 0s;background-image: linear-gradient(to left, rgb(17, 123, 184) , rgb(27, 45, 91));box-shadow: 0 0 10px #136ca6;}
.pricing_Modal fieldset{border: 1px solid #027ec7;padding: 20px;margin-top: 25px;border-radius: 4px;}
.pricing_Modal legend{display: inline-block;border: none;width: inherit;margin-bottom: 0;padding: 4px 12px;background: #0b405f;color: #fff;border-radius: 4px;font-size: 14px;}
.pricing_Modal .amt-tt{border: 1px solid #ececec;padding: 19px;border-radius: 20px;}


#pswd_info {
    position: absolute;
    /* bottom: -75px; */
    top: 27px;
    right: 55px;
    /* width: 250px; */
    padding: 15px;
    background: #fefefe;
    font-size: .875em;
    border-radius: 5px;
    box-shadow: 0 1px 3px #ccc;
    border: 1px solid #ddd;
    z-index: 9;
    min-height: 158px;
}


#pswd_info h4 {
    margin:0 0 10px 0;
    padding:0;
    font-weight:normal;
}


#pswd_info::before {
    content: "\25B2";
    position:absolute;
    top:-12px;
    left:45%;
    font-size:14px;
    line-height:14px;
    color:#ddd;
    text-shadow:none;
    display:block;
}

.invalid {
    background:url(../images/invalid.png) no-repeat 0 50%;
    padding-left:22px;
    line-height:24px;
    color:#ec3f41;
}
.valid {
    background:url(../images/valid.png) no-repeat 0 50%;
    padding-left:22px;
    line-height:24px;
    color:#3a7d34;
}

#pswd_info {
    display:none;
}
.subMenuItem{
    display: none;
}

.mainMenuItem .icon{
    transform: rotate(180deg);
    transition: all 0.3s ease-in-out;
    position: relative;
    top: 3px;
    left: -3px;
}

.subMenuItem {
    background-color: #d8d8d8;
    border-top: #ccc 1px solid;
}

.subMenuItem .menu-item {

}

.subMenuItem .menu-item a {
    padding: 10px 50px;
    font-size: 16px;
    color: #334;
    display: block;
    border-bottom: #ccc solid 1px;
    text-decoration: none !important;
}
.subMenuItem .menu-item a:hover,.subMenuItem .menu-item a.active{
    background-color: #ccc;
    border-bottom: #999 solid 1px;
}

.dashLeft.leftNavOpen .subMenuItem {
    display: none !important;
}
.dashLeft.leftNavOpen .mainMenuItem i{ display: none !important;}

.mainMenu{
    /*max-height: 700px;*/
    overflow: auto;
}.thank-you-pop{
     width:100%;
     padding:20px;
     text-align:center;
 }
.thank-you-pop img{
    width:76px;
    height:auto;
    margin:0 auto;
    display:block;
    margin-bottom:25px;
}

.thank-you-pop h1{
    font-size: 42px;
    margin-bottom: 25px;
    color:#5C5C5C;
}
.thank-you-pop p{
    font-size: 20px;
    margin-bottom: 27px;
    color:#5C5C5C;
}
.thank-you-pop h3.cupon-pop{
    font-size: 25px;
    margin-bottom: 40px;
    color:#222;
    display:inline-block;
    text-align:center;
    padding:10px 20px;
    border:2px dashed #222;
    clear:both;
    font-weight:normal;
}
.thank-you-pop h3.cupon-pop span{
    color:#03A9F4;
}
.thank-you-pop a{
    display: inline-block;
    margin: 0 auto;
    padding: 9px 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    background-color: #8BC34A;
    border-radius: 17px;
}
.thank-you-pop a i{
    margin-right:5px;
    color:#fff;
}
.topInfo {
    padding-bottom: 14px;
}
.contactUsCommon{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background: #2e79bd;
    display: inline-block;
    padding: 8px 15px ;
    border-radius: 3px 3px 0px 0px;
    font-weight: 400;
    font-size: 15px;
}
#rc-imageselect{
    transform: scale(1.12);
    margin-left: 19px;
}
#contactUsModal label{
    text-align: left !important;
}

#contactUsModal .modal-header{
    background-color: #0f6fc6;
    color: white;
}

#contactUsModal .modal-footer{
    background-color: #0f6fc6;
    color: white;
}
#contactUsModal .form-group {
    position: relative;
}

#contactUsModal .form-group .error_raiase_ticket {
    position: absolute;
    bottom: -28px;
    left: 12px;
}

.innerSubmit {
    padding-bottom: 19px;
    float: left;
    width: 100%;
    padding-left: 15px;
}

.browseFile{
    width: 80%;
    display: inline-block;
    position: relative;
}

.browseFile .browseBtn {
    right: 0px !important;
}

.beta_version_modal .modal-header{
    background-color: #0f6fc6;
    color: #fff;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 9999; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#overlay #text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
.pagerButton .disabled, .pagerButton .disabled:hover {
    cursor: not-allowed;
    /* pointer-events: none; */
    background-color: #ccc;
}
/*--------------03-04-2019------------------------*/
.DashRight.backValuation{ 
    background: rgb(183,174,196);
    background: -moz-linear-gradient(45deg, rgba(183,174,196,1) 0%, rgba(82,148,198,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(183,174,196,1) 0%,rgba(82,148,198,1) 100%);
    background: linear-gradient(45deg, rgba(183,174,196,1) 0%,rgba(82,148,198,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7aec4', endColorstr='#5294c6',GradientType=1 );
    min-height: 100vh;
}
.leasingBreatcrum {border-bottom: rgba(255, 255, 255, 0.2) solid 1px; font-size: 14px; color: #fff; padding-bottom: 10px;}
.leasingBreatcrum a{ color: #fff; }
.leasingMainHd {font-size: 25px; padding: 25px 0 20px 0; color: #ffff; line-height: 25px;}
.landBg {background: rgba(255, 255, 255, 0.2); padding: 17px; border-radius: 10px; margin-bottom: 20px;  position: relative;}
.leaseTotalHd { width: 190px; float: left; padding-right: 15px;}
.leaseSlide {width: calc(100% - 190px); float: right;}
.leaseTotalHd h2 {font-size: 20px; text-transform: uppercase; color: #fff; margin: 0; padding-bottom: 10px; font-weight: bold;}
.leaseTotalHd span {font-size: 20px; color: #fff; line-height: 25px; padding-bottom: 10px; display: block;}
.leaseTotalHd strong {display: block; font-size: 37px; color: #fff;}
.leaseSlide li {background: #fff; float: left; border-radius: 4px; width: 24%; margin-right: 1.25%;}
.leaseSlide li:last-child{ margin-right: 0px;}
.landType {background: #1b2d5b; line-height: 33px; text-align: center; font-size: 20px; color: #fff; padding: 20px 0; border-radius: 4px;}
.leaseterms {padding: 0 15px;}
.leaseterms a{ text-decoration: none !important;}
.leaseSlide li:hover {box-shadow: #1b2d5b 0 0 5px 2px;}
.leaseterms span {display: block; border-bottom: #eee solid 2px; padding: 20px 0; font-size: 15px; text-align: center; color: #000;}
.leaseterms span strong {display: block; font-size: 16px; font-weight : 600;}
.landType2 {background: #71658b; line-height: 33px; text-align: center; font-size: 20px; color: #fff; padding: 20px 0; border-radius: 4px;}
.pagerButton {position: absolute; left: 17px; bottom: 17px;}
.pagerButton a {display: inline-block; width: 43px; height: 43px; position: relative; background: #fff; border-radius: 3px; margin-right: 3px;}
.pagerButton a img {position: absolute; left: 0; right: 0; bottom: 0; top: 0; margin: auto;}
.pagerButton a .img{ display: inline-block;}
.pagerButton a .over{ display:none;}
.pagerButton a:hover .img, .pagerButton a.active .img{ display: none;}
.pagerButton a:hover .over, .pagerButton a.active .over{ display:inline-block;}
.pagerButton a:hover, .pagerButton a.active{ background: #1b2d5b; }
.leasingMainHd span {display: inline-block; float: right; font-size: 14px;}
.leasingMainHd span select {width: 230px; height: 38px; border-radius: 3px; border: 0; appearance: none; -moz-appearance: none; -webkit-appearance: none; 
    margin-left: 10px; background:#fff url(../assets/images/sel-arrow.png) right 10px center no-repeat; }
.assetsNameOuter {background: rgba(255, 255, 255, 0.2); border-radius: 10px;}

.assetsTabs {border-bottom: rgba(99, 109, 114, 0.24) solid 1px; padding: 0 30px 0 15px;}
.assetsTabs li {display: inline-block; padding: 0 15px;}
.assetsTabs li a{ display: inline-block; font-size: 15px; color: #fff; padding: 20px 0 15px 0; border-bottom: transparent solid 3px;}
.assetsTabs li a:hover, .assetsTabs li a.active{ text-decoration: none; border-bottom: #0078d4 solid 3px; color: #1b2d5b;}
.tabBxOuter {padding: 30px; display: none;}
.leaseRafBx {padding: 30px;background: #fff; margin-bottom: 30px;}
.leaseref_left{ width: 20%; float: left; margin-right: 15px;}
.leaseref_left span { display: block; font-size: 14px;}
.leaseref_left strong {font-size: 18px; font-weight: 600; color: #000;}
.leaseref_left strong i{ display: inline-block; font-size: 16px; padding-right:10px; font-style: normal; }
.leaseref_left strong i label{ font-weight: 600; }
.lessernameTop {border-bottom: #d1d5de solid 1px; padding-bottom: 40px; margin-bottom: 40px; padding-top: 30px;}
.leasernameBx1 {width: 20%;  display: table-cell;}
.lesserName span {display: block; font-size: 14px; color: #636c72; padding-bottom: 5px;}
.lesserName strong {color: #292b2c; display: block; font-size: 18px; font-weight: 600; line-height: 25px;}
.leasernameBx2 {width: 20%; display: table-cell; border-left: #d1d5de solid 1px; padding-left: 20px; min-height: 80px;}
.locatpurposeBx {width: 20%; float: left;}
.locatpurposeBx1 {width: 20%; float: left; padding-left: 20px;}
.locatPurposeOutBx {background: #fff; border-radius: 3px; margin-bottom: 30px;}
.locatpurposeTop {background: #1b2d5b; border-radius: 3px; padding: 10px 30px; font-size: 15px; color: #fff;}
.locatpurposeBot {padding: 20px 30px; display: table; width: 100%;}
.leaserLocation span{ display: block; font-size: 16px; color: #292b2c;}
.leaseprior span{ display: block; font-size: 16px; min-height: 100px; color: #292b2c; padding-bottom: 20px;}
.leaseprior span strong{ display: block;}
.leaseterminatHd{ font-size: 16px; font-weight: 600; }
.leaserrenewalBx1{width: 33.33%;  display: table-cell;}
.leaserrenewalBx2{width: 33.33%;  display: table-cell;  border-left: #d1d5de solid 1px; padding-left: 30px; padding-right: 20px;}
.leasepaymentTble table tr th { background: #f8f8f8; border-bottom: #cccfd9 solid 1px; padding: 10px 10px 10px 20px; text-align: left; line-height: 20px;
 font-size: 14px; position: relative; color: #636c72; font-weight: 500;}
.leasepaymentTble table tr th:after{ height: 60%; width: 1px; background: #cccfd9; content: ''; position: absolute; top: 20%; right: 0px; }
.leasepaymentTble table tr th:last-child:after{display: none;}
.leasepaymentTble table tr td { font-size: 14px; color: #292b2c; border-bottom: #d1d5de solid 1px; padding: 15px 20px;}
.leasepaymentTble table tr:last-child td{ border-bottom: 0px; }
.discountRateOuter {padding: 30px;}
.discountTop{padding-bottom: 30px;}
.discountBx {width: 23.5%; float: left; border: #d9d9d9 solid 1px; margin-right: 2%; min-height: 100px; padding: 20px; border-radius: 5px; 
    box-shadow: #ccc 2px 2px 3px -1px;}
.discountBx:last-child{ margin-right: 0px; }
.discountBx span{display: block; font-size: 16px; color: #292b2c;}
.discountBx strong {display: block; font-size: 16px; color: #292b2c;}
img{ max-width: 100%; }
.leasevaluationTble table tr th{ padding:0 ; }
table.tableInner tr td{ padding: 7px 10px 7px 20px; font-weight: 600;}
table.tableInner tr th{ padding: 7px 10px 7px 20px;}
.blueClr{ color: #117bb8 !important;}
.locatpurposeTop span {float: right;}
.presentValue {margin-bottom: 10px;}
.presentValue li {width: 32%; height: 100px; background: #fff; line-height: 25px; color: #292b2c; padding: 20px; margin-bottom: 20px; border-radius: 5px; float: left; margin-right: 2%;}
.presentValue li:nth-child(3n){ margin-right: 0px; }
.presentValue li span {display: block; font-size: 17px;}
.presentValue li strong {display: block; font-size: 18px;}
.totalLease {font-size: 16px !important;}
table.inetialTble tr th {border-right: #cccfd9 solid 1px;}
table.inetialTble tr th:after{ display: none; }
.leaseterminatHd span i { display: inline-block; font-style: normal; padding-right: 150px;}
table.categoryTble tr td {font-size: 16px; color: #fff;}


@media(max-width:1170px){
.landType, .landType2{ font-size: 17px; line-height: 26px; padding: 10px 0; }
.leaseterms span strong{font-size: 14px; line-height: 20px;}
.leaseterms span{ font-size: 13px; line-height: 18px; padding-bottom: 5px;}
.leaseterms {padding: 0 10px;}
.leaseTotalHd h2 {font-size: 20px;}
.leaseTotalHd span {font-size: 15px; line-height: 20px;}
.leaseTotalHd strong{ font-size: 24px;}
.leaseTotalHd {width: 140px;}
.leaseSlide {width: calc(100% - 140px);}
}

/*--------------------*/
.tabsOuter {padding: 20px 0;}
.Privacy_left {width: 27%; float: left; min-height:400px; background: #f9f9f9; border: #e5e5e5 solid 1px; border-radius:3px; padding:10px;}
.Privacy_left li {display: block;}
.Privacy_left li a {display: block; font-size: 16px; line-height: 25px; padding: 10px; border-bottom: #e5e5e5 solid 1px;}
.Privacy_left li a:hover, .Privacy_left li a.active{ background:#64b0f2; color:#fff;}
.privacyRight {width: 70%; float: right; padding: 20px; background: #fafafa; border: #eee solid 1px; max-height: 60vh; overflow: auto;}
.PrivacyTab{ display:none;}
.privacyContent h2 {font-size: 32px; font-weight: 600; line-height:40px; padding-bottom: 20px; color: #333;}
.privacyContent p {font-size: 14px; line-height: 25px; color: #666;	padding-bottom: 25px;}
.privacyContent h4 {font-size: 20px; font-weight: 600; padding-bottom: 5px;}
.faqList h3 {background: #fff; padding: 10px; border: #e5e5e5 solid 1px; margin-bottom:20px; font-size: 15px; color:#000; padding-right:50px; position:relative; border-radius:3px;}
.faqList h3.active {margin-bottom: 0px; border-radius: 3px 3px 0 0; background: #2f829c; color: #fff;}
.faqList h3 i {background: #108faa; position: absolute; right: 0; top: 0; bottom: 0; text-align: center; width: 45px; border-radius: 0 3px 3px 0;}
.faqList h3 i::after {content: "+"; position: absolute; right: 0; top: 0; color: #fff; bottom: 0; text-align: center; border-radius: 0 3px 3px 0; left: 0; margin: auto; line-height: 30px; height: 30px; font-style: normal; font-size: 30px; font-weight: 600;}
.faqList h3.active i::after {content: "-"; position: absolute; right: 0; top: 0; color: #fff; bottom: 0; text-align: center; border-radius: 0 3px 3px 0; left: 0; margin: auto; line-height: 23px; height: 30px; font-style: normal; font-size: 30px; font-weight: 600;}
.faqList .faqContent {background: #fff; display:none; padding: 10px; border: #e5e5e5 solid 1px; top: -1px; font-size: 14px; border-radius:0 0 3px 3px; line-height: 25px; color: #666; position: relative; margin-bottom: 20px;}


.privacypopBg {
   background: rgb(57,49,175); /* Old browsers */
background: -moz-linear-gradient(60deg,  rgba(57,49,175,1) 0%, rgba(0,198,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(60deg,  rgba(57,49,175,1) 0%,rgba(0,198,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(60deg,  rgba(57,49,175,1) 0%,rgba(0,198,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3931af', endColorstr='#00c6ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.LibfilterBx {
    margin-bottom: 20px;
    border-bottom: #e5e5e5 solid 1px;
    padding: 10px 0;
    background: #f5f5f5;
    margin-top: -15px;
}

#clear_filters {
    background: #666;
    color: #fff;
    padding: 7px 10px;
    border-radius: 3px;
    vertical-align: middle;
    display: inline-block;
    margin-left: 10px;

}

.form-inline .form-control {

    display: inline-block;
    width: 100%;
    vertical-align: middle;
    max-width: 70%;

}


.dt-button.buttons-columnVisibility.active {
    background: #2ab27b !important;
    color: #fff;
}

/*.dt-button.buttons-columnVisibility{*/
    /*background: #b1220d !important;*/
    /*color: #fff;*/
/*}*/


/*-----------CSS hack--------------*/

.modified_retrospective_approach{
    background-color: #ffa615;padding: 4px;border-radius: 4px;color: #fff;text-align: center;border: 1px solid #f87508;
}

.full_retrospective_approach{
    background-color: #158cff;padding: 4px;border-radius: 4px;color: #fff;text-align: center;border: 1px solid #1a15ff;
}

.import_option_first {
    float: left;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
}

.headerImport {
    float: left;
    width: 180px;
}

.headerImport h1 {
    font-size: 20px;
    font-weight: 600;
    background-color: #eeee;
    padding: 10px;
    margin: 0;
}


.bodyImport {
    width: calc(100% - 200px);
    float: right;
}

.bodyImport .first {
    background-color: #eee;
    padding: 10px;
    margin: 0;
    margin-bottom: 20px;
}

.bodyImport .second {
    border: 1px solid #e5e5e5;
    padding: 10px;
    background-color: #f5f5f5;
}

.input_info_tooltip {
    top: -2px;
    position: relative;
    right: 6px;
}
.categoriesOuter .form-group label {
    width: auto;
}

.tooltip-inner {
    max-width: 400px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
}