.loginOuter {background:url(../images/login-bg.jpg) center center no-repeat; position: fixed; left: 0; top: 0; right: 0;    bottom: 0;
    background-size: cover;}
.loginInnerBx {background: none; border: 0; box-shadow: none; max-width: 340px; margin: 0 auto;}
.loginLogo {text-align: center;}
.loginInnerBx .panel-heading {background-color: transparent !important; border-color: transparent !important; border-radius: 0;
	font-size: 30px; line-height: normal; color: #090909; text-align: center; text-transform: uppercase; padding: 15px 0;}
.loginPanel .form-horizontal .control-label {text-align: left; margin-bottom: 0; padding-top: 0; display: block;  width: 100%;
    padding-bottom: 5px;}
.loginPanel .form-horizontal .col-md-6{ width: 100%;}
.loginPanel .form-horizontal .col-md-6 {width: 100%;}
.loginPanel .checkbox a { float: right; font-size: 14px; font-weight: 600; text-decoration: underline;}
input.form-control{ height: 49px; border-radius: 3px; padding: 0 10px;}
.loginBtn {display: block; width: 100%; font-weight: 600; height: 48px; font-size: 20px; border-radius: 3px; margin-bottom: 10px;}
.btnAlign{ text-align: center;}
.resetPadd{ padding-top: 100px;}
.loginpadd{ padding-top: 50px;}
.navbar-default {background-color: #1b2d5b; border-color: #1b2d5b;}
.navbar-brand.logoBx {padding: 9px 10px;}
.navbar-default .navbar-nav > li > a {color: #fff !important;}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{ background: none !important;}
.dashLeft {padding: 0; width: 270px; position: fixed; float: left; left: 0;	top: 50px; bottom: 0; background: #eaeaea; border-right: none;}
.dashLeft a.list-group-item{ border:0 !important;}
.dashLeft a.list-group-item:hover, .dashLeft a.list-group-item.active { color: #1b2d5b; background: #d7d7d7;}
.dashLeft a.list-group-item i{ font-size: 20px; }
.itemTab ul li a {background: none; border: 0px; border-bottom:transparent solid 3px !important;  border-radius: 0px;width:92px;  height: auto; text-align: center; }
.itemTab ul li a span{ display: block; font-size: 13px; }
.itemTab ul li a:hover, .itemTab ul li a.active {background:none; color: #0078d4; border: 0px; border-bottom:#0078d4 solid 3px !important; text-decoration: none; }
.itemTab ul li a span {display: block; position: relative; min-height: 52px; font-size: 13px; line-height: 16px; color: #636c72; left: 0; right: 0; top: 0; width: auto; margin-left: 0; background: none; border-radius: 0;}
.itemTab ul li a span:after{ display: none;}
.itemTab ul li a i {display: inline-block; font-style: normal; color: #555; width: 26px; height: 26px; line-height: 23px; border: #555 solid 1px; border-radius: 50%;}
.itemTab {padding-bottom: 20px; padding-top: 15px; border-bottom: #dadcdd solid 1px;}
.itemTab ul li a:hover i, .itemTab ul li a.active i {color: #0078d4; border: #0078d4 solid 1px;}
.itemTab ul li a:hover span, .itemTab ul li a.active span{color: #0078d4;}
.itemTab {padding-bottom: 20px; padding-top: 15px; border-bottom: #0078d4 solid 1px;}
input.form-control {height: 38px; border-radius: 3px; padding: 0 10px; border: #d9d9d9 solid 1px !important;box-shadow: #e5e5e5 0 2px 5px 0 !important;}
select.form-control {height: 38px; border: #d9d9d9 solid 1px !important; border-radius: 3px; padding: 0 10px; box-shadow: #e5e5e5 0 2px 5px 0 !important; appearance: none; -webkit-appearance: none; -moz-appearance: none; background-image: url(/assets/images/sel-arrow.png); background-position: right 10px center; background-repeat: no-repeat;}
button.browseBtn {height: 38px; line-height: 38px; border-radius: 0 3px 3px 0;}
.breadcrumb {background-color: #fff; border-bottom: #ccc solid 1px !important; padding: 8px 0; border: 0px;}
.breadcrumb > li a {color: #636c72;}
.breadcrumb > li + li::before{ color: #636c72;}
.rightContainer {max-width: 1250px; margin: 0 auto;}
.owl-prev.disabled{ opacity: 0;}
.owl-next {position: absolute; right: -10px; top: 50%; cursor: pointer; margin-top: -10px; overflow: hidden; text-indent: -200px; background:url(/assets/images/owl-arrow-right.png) left top no-repeat; width: 8px; height: 11px;}
.owl-prev { position: absolute; left: -10px; top: 50%; cursor: pointer; margin-top: -10px; overflow: hidden; text-indent: -200px; background:url(/assets/images/owl-arrow-left.png) left top no-repeat; width: 8px; height: 11px;}
.panel-default > .panel-heading {color: #292b2c; padding: 30px 0 10px 0; background-color: #fff; border-color: #fff; border-radius: 0; font-size: 24px; line-height: 25px;}
.panel.panel-default {border-color: #fff;}
.itemTab {padding-bottom: 0; padding-top: 15px; border-bottom: #dadcdd solid 1px; }
fieldset.scheduler-border { background: #fff; border:#dadcdd solid 1px !important; padding: 0 !important;}
.panel-body {padding: 15px 0;}
.categoriesOuter {border: #dadcdd solid 1px; margin-bottom: 25px; border-radius: 1px;}
.categoriesHd {background: #f8f8f8; line-height: 27px; font-size: 18px; color: #0078d4; padding: 5px 10px; margin-bottom: 20px;}
.categoriesOuter .form-group {width: 48%; float: left; margin-left:1%; margin-right: 1%; margin-bottom:20px;}
.categoriesOuter .form-group label{ text-align: left; font-weight: 400; padding-bottom: 5px; padding-top: 0px;}
input[type="radio"], input[type="checkbox"]{ margin: 0px;}
.leasedetOuter {width: 100%; padding-top:0px;}
.leaseDetBtnBx {padding-bottom: 20px; text-align: center;}
.inforide {width: 100%; min-height: 141px;margin-bottom: 25px;border-radius: 3px; padding:10px;}
.blueBg {background: #64b0f2;}
.redBg {background: #ff5d48;}
.greenBg {background: #4bc0c0;}
.darkyellowBg {background: #f1b53d;}
.darkblueBg {background: #3db9dc;}
.valletBg {background: #9966ff;}
.lightredBg {background: #ff6384;}
.yellowBg {background: #ffce56;}
.panelOuter{ padding-top:30px;}
.dashboxHd {font-size: 18px; font-weight:400; color: #fff; min-height:60px; line-height:24px;}
.dashCounting {padding: 10px; font-size: 34px; font-weight: 600; line-height: 30px; color:#fff;}
.dashCounting span {display: block;  padding-bottom: 10px;}
.dashCounting span small {font-size: 16px;  line-height: 30px; display: inline-block; vertical-align: top; color: #666;}
.chartBg {border: #dadcdd solid 1px; margin-bottom: 25px; border-radius: 2px;}
.chartHd {background: #f8f8f8; padding: 15px; font-size: 18px; line-height: 23px; color: #292b2c; border-bottom: #dadcdd solid 1px;}
.viewDetBtn {float: right; font-size: 14px; color: #0078d4; border: #0078d4 solid 1px; line-height: 20px; padding: 10px 20px;  border-radius: 3px;  text-decoration: none;}
.detailOuter {border: #dadcdd solid 1px; border-radius: 3px; padding: 25px 25px 0 25px;}
.btnMainBx {background: #f8f8f8; padding: 15px 10px; margin: 0 !important; border-top: #d4d7d8 solid 1px;}
.btnsubmitBx {text-align: right;}
.btnsubmitBx button.btn.btn-success {border: 0 !important; font-size: 16px; border-radius: 3px; padding: 10px 25px; line-height: 20px; font-weight: 600;}
.btn-backnextBx a.btn.btn-danger {border: 0; line-height: 20px; padding: 10px 25px; border-radius: 3px; margin-right: 10px; font-size: 16px; font-weight: 600;}
.btn-backnextBx a.btn.btn-primary { border: 0; line-height: 20px; padding: 10px 25px; border-radius: 3px; font-size: 16px; font-weight: 600;}
.table > thead > tr > th { vertical-align: top; background: #f8f8f8; color: #333; font-size: 14px; font-weight: 400; line-height: 20px;border: 0;border-right: #dadcdd solid 1px; border-bottom: #dadcdd solid 1px;}
.table > tbody > tr > td {font-size: 13px; color: #666; border: 0; border-right: #dadcdd solid 1px; border-bottom: #dadcdd solid 1px;}
.btn-backnextBx button.btn.btn-primary { border: 0; line-height: 20px; padding: 10px 25px; border-radius: 3px; font-size: 16px; font-weight: 600;}
.panel{ box-shadow: none !important;}
.exitingBtn{ margin-left: 0px; width: 220px; border-radius: 3px; }
.btn-primary{ border-radius:3px;}
.addpayTbleOuter {padding: 0 15px;}
.DashRight .panel-body {padding: 0 0 15px 0;}
.mrktavail {padding-top: 6px;}
.mrktavail span{ display: inline-block; margin-right: 10px;}
.categoriesOuter {padding-top: 15px;}
.txtareaInp{ width: 100%; height: 60px; resize: none;}
.textareaOuter{ width: 99% !important;}
.frmattachFile {width: 90%;}
.btn.btn-success {border-radius: 3px; font-size: 16px;}
.directcostTble {padding: 0 40px 20px 40px;}
.btn {border-radius: 3px; font-size: 16px; font-weight: 600;}
.panel-body.frmOuterBx {padding: 15px;}

.aligncenter{ text-align: center !important; }
.rightlign{ text-align: right !important; }

.totalOwn {font-size: 16px;}
.totalOwn span {font-size: 26px; display: block; font-weight: bold; line-height: 30px; color: #fff;}
.totalOwn span small { font-weight: 400; font-size: 16px; line-height: 26px;}